.body{
    background-color: rgba(0, 0, 0, 0.822);
}
.body{
    text-align: center;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
.ciao{
    border: rgb(255, 255, 255) ridge 4px;
}
.none{
    border: rgb(255, 255, 255) ridge 4px;
}